* {
    
}
h2 {
    font-size: 60px;
}
h3 {
    color: #02182b;
}
p {
    font-size: 20px;
}
nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section {
    padding: 3rem 2rem 5rem 2rem;
    min-height: calc(100vh - 88px);
}
#contato {
    min-height: auto;
}
#contato p {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#contato a:hover {
    color: blue;
}




/* Colors */
.dark-blue { background-color: #02182b; }
.red { background-color: #b3001b; }
.blue { background-color: #0197f6; }
.light-green { background-color: #f5fbef; color: black}
.grey { background-color: #7d6d61; }